# How to export apply code 
<br>
This notebook shows how to export SQL code from a model in hana_ml.
<br>
Two cases are possible:<br>
- One can export apply code immediately after having fitted a model.<br>
- One can export apply code when the model was saved and reloaded later.<br>

In [1]:
import os
import sys
import numpy as np
import pandas as pd

In [2]:
# Set PYTHONPATH
# (only required if one wants to directly use the library code sources)
sys.path.append(os.path.dirname('E:/hanamlapi/src/hana_ml'))
sys.path.append('E:/hanamlapi/nutest')

In [3]:
# Import hana_ml library
from hana_ml.dataframe import DataFrame, ConnectionContext
from hana_ml.algorithms.apl.classification import AutoClassifier

In [4]:
# HANA python driver used for export_apply_code function
import pyhdb

In [5]:
# Global variables for Hana connection
from data_load_utils import Settings
HDB_HOST, HDB_PORT, HDB_USER, HDB_PASS, MODEL_SCHEMA = Settings.load_config("E:/hanamlapi/nutest/testscripts/config/e2edata.ini")
HDB_HOST

'10.47.242.42'

# Case 1: export code from a fitted model.
- The model is just fitted. <br>
- User can export apply code right after.

## Creates and trains model

In [6]:
# HANA connection for hana_ml
CONN = ConnectionContext(HDB_HOST, HDB_PORT, HDB_USER, HDB_PASS)

In [7]:
data = DataFrame(CONN, 'select * from APL_SAMPLES.AUTO_CLAIMS_FRAUD')
data.head(5).collect()

,CLAIM_ID,DAYS_TO_REPORT,BODILY_INJURY_AMOUNT,PROPERTY_DAMAGE,PREVIOUS_CLAIMS,PAYMENT_METHOD,IS_REAR_END_COLLISION,PREM_AMOUNT,AGE,GENDER,MARITAL_STATUS,INCOME_ESTIMATE,INCOME_CATEGORY,POLICY_HOLDER,IS_FRAUD
0,CL_0174802,2,0,9025,0,CC,No,Standard,79,Male,Married,8090.4,14,Y,No
1,CL_0856464,0,0,388,0,Auto,No,Safedriving_discount,29,Male,Single,28504.0,25,N,No
2,CL_0789960,3,0,1025,0,CH,Yes,Standard,27,Male,Single,67668.3,50,N,No
3,CL_0534963,28,0,4077,0,CC,No,Standard,37,Male,Married,46812.7,35,N,No
4,CL_0614972,3,0,3199,0,Auto,Yes,Standard,67,Female,Married,26369.2,25,N,No

In [8]:
# Creates model
model = AutoClassifier(CONN)
# Fits model
model.fit(data, key='CLAIM_ID', label='IS_FRAUD')

## Export apply code

In [13]:
'''
Calls APL EXPORT_APPLY_CODE.
Parameters
----------
- model: an instance of hana_ml model.
    The model must be already fitted.
- key: str
    The name of the primary key column
- label: str
    The name of the label (target) column
- schema_name: str
    The schema name of the apply-in table
- table_name: str
    The apply-in table name
- other_params: dict (optional)
    The additional parameters to be included in the configuration.
    That corresponds to additional APL alias user would like to add.

Example
-------
>>> sql = export_apply_code(model=model, 
...               key='CLAIM_ID', label='IS_FRAUD', 
...               schema_name='APL_SAMPLE', table_name='AUTO_CLAIMS_NEW')
>>> print('Exported sql:\n', sql)
'''
def export_apply_code(model, key, label, schema_name, table_name, **other_params):
    # Reuses the same than the model (so the all temporary tables created the model are visible)
    conn = model.conn_context.connection
    cursor = conn.cursor()

    # -- CONFIG table
    try:
        cursor.execute('drop table #EXPORT_APPLY_CODE_CONFIG')
    except:
        pass
    cursor.execute('create local temporary table #EXPORT_APPLY_CODE_CONFIG (KEY NVARCHAR(1000), VALUE NCLOB, CONTEXT NVARCHAR(100))')
    # Add parameters into CONFIG table
    # Default params
    params = {
        'APL/CodeType': 'HANA',
        'APL/CodeKey': key,
        'APL/CodeTarget': label,
        'APL/CodeSpace': '"{}"."{}"'.format(schema_name, table_name),
        'APL/ApplyExtraMode':'Advanced Apply Settings',
        'APL/ApplyDecision':'true',
        'APL/ApplyProbaDecision':'true',
        'APL/CodeUseVarNameAlias':'true',
    }
    # Additional parameters to be put in CONFIG table
    for k in other_params:
         params[k] = other_params[k]
    # isnert params to CONFIG table
    cursor.executemany('insert into #EXPORT_APPLY_CODE_CONFIG values (?, ?, NULL)', [(k, v) for k, v in params.items()])

    # -- Output table
    try:
        cursor.execute('drop table #EXPORT_APPLY_CODE_OUTPUT')
    except:
        pass
    cursor.execute('create local temporary table #EXPORT_APPLY_CODE_OUTPUT (OID NVARCHAR(50), KEY NVARCHAR(100), VALUE NCLOB)')

    # -- HEADER_FUNC
    try:
        cursor.execute('drop table #EXPORT_APPLY_CODE_HEADER')
    except:
        pass
    cursor.execute('create local temporary table #EXPORT_APPLY_CODE_HEADER (KEY NVARCHAR(50), VALUE NVARCHAR(255))')

    # Call APL
    sql = 'call "_SYS_AFL"."APL_EXPORT_APPLY_CODE" (#EXPORT_APPLY_CODE_HEADER, {model_table}, #EXPORT_APPLY_CODE_CONFIG, #EXPORT_APPLY_CODE_OUTPUT) with overview'
    model_table_name = model.model_table_.name  # the temp table where the model is saved
    sql = sql.format(model_table=model_table_name)
    cursor.execute(sql)
    
    # Retrieves the sql generated
    cursor.execute('select to_char(VALUE) value from #EXPORT_APPLY_CODE_OUTPUT')
    sql = cursor.fetchone()[0]
    return sql

## Calls export_apply_code

In [14]:
# export_apply_code
sql = export_apply_code(model=model, 
                  key='CLAIM_ID', label='IS_FRAUD', 
                  schema_name='APL_SAMPLE', table_name='AUTO_CLAIMS_NEW')
print('Exported sql:\n', sql)

Exported sql:
 -- Automated Analytics - Unlicensed Version 10.1905.0.0 - Copyright 2018 SAP SE or an SAP affiliate company. All rights reserved. - Model built in 9.3.0.0 - Model Name is APLModel - Model Version is 1
SELECT CLAIM_ID, "rr_IS_FRAUD", (CASE WHEN "rr_IS_FRAUD" >= 2.81733766601e-1 THEN 'Yes'
ELSE 'No'
END)
AS "decision_rr_IS_FRAUD", CAST((CASE
WHEN "rr_IS_FRAUD" < -1.461836597006e0 THEN 1.0e0
WHEN "rr_IS_FRAUD" <= 3.716341586901e-2 THEN 1.0e0
WHEN "rr_IS_FRAUD" <= 3.81634029944e-2 THEN  ( -1.351368749689e-2*"rr_IS_FRAUD"+1.000502214788e0 )
WHEN "rr_IS_FRAUD" <= 6.343447913304e-2 THEN  ( -5.34742305369e-4*"rr_IS_FRAUD"+1.000006894073e0 )
WHEN "rr_IS_FRAUD" <= 6.345977550555e-2 THEN  ( -5.336733554998e2*"rr_IS_FRAUD"+3.485326430628e1 )
WHEN "rr_IS_FRAUD" <= 7.712594791276e-2 THEN  ( -9.878406036262e-1*"rr_IS_FRAUD"+1.049161115914e0 )
WHEN "rr_IS_FRAUD" <= 1.037060485469e-1 THEN  ( -2.611364056357e-1*"rr_IS_FRAUD"+9.931133657922e-1 )
WHEN "rr_IS_FRAUD" <= 1.422911137913e-1 THEN  ( -1.798890813601e-1*"rr_IS_FRAUD"+9.846875268365e-1 )
WHEN "rr_IS_FRAUD" <= 1.549169218201e-1 THEN  ( -1.680060489096e0*"rr_IS_FRAUD"+1.198148587321e0 )
WHEN "rr_IS_FRAUD" <= 1.873348941543e-1 THEN  ( -6.543321400077e-1*"rr_IS_FRAUD"+1.039245908857e0 )
WHEN "rr_IS_FRAUD" <= 1.940066006462e-1 THEN  ( -1.544884739196e1*"rr_IS_FRAUD"+3.810774857645e0 )
WHEN "rr_IS_FRAUD" <= 1.980490369001e-1 THEN  ( -2.549704410047e1*"rr_IS_FRAUD"+5.760191343687e0 )
WHEN "rr_IS_FRAUD" <= 2.342384662206e-1 THEN  ( -3.181359339154e-1*"rr_IS_FRAUD"+7.735328311047e-1 )
WHEN "rr_IS_FRAUD" <= 2.776888861035e-1 THEN  ( -2.649723046581e-1*"rr_IS_FRAUD"+7.610798641288e-1 )
WHEN "rr_IS_FRAUD" < 2.81733766601e-1 THEN  ( -3.818551505305e0*"rr_IS_FRAUD"+1.747869314037e0 )
WHEN "rr_IS_FRAUD" <= 2.891346528921e-1 THEN  ( 3.818551505305e0*"rr_IS_FRAUD"-7.478693140369e-1 )
WHEN "rr_IS_FRAUD" <= 2.893069607479e-1 THEN  ( 2.536521030464e2*"rr_IS_FRAUD"-7.298340651969e1 )
WHEN "rr_IS_FRAUD" <= 4.614425087114e-1 THEN  ( 2.541601692248e-4*"rr_IS_FRAUD"+3.998389696939e-1 )
WHEN "rr_IS_FRAUD" <= 4.624425087589e-1 THEN  ( 4.3749997922e-2*"rr_IS_FRAUD"+3.797681412027e-1 )
WHEN "rr_IS_FRAUD" > 4.624425087589e-1 THEN 4.0e-1
ELSE 4.0e-1
END) AS DOUBLE)
AS "proba_decision_rr_IS_FRAUD"
FROM
(
SELECT CLAIM_ID,
CAST( (  CAST( (CASE
WHEN ( "DAYS_TO_REPORT" IS NULL ) THEN 3.439440988592e-2
WHEN "DAYS_TO_REPORT" <= 0.0e0 THEN 1.81084282284e-2
WHEN "DAYS_TO_REPORT" <= 1.0e0 THEN  ( -2.073230581354e-4*"DAYS_TO_REPORT"+1.810842822836e-2 )
WHEN "DAYS_TO_REPORT" <= 2.0e0 THEN 3.613674229591e-2
WHEN "DAYS_TO_REPORT" <= 4.0e0 THEN  ( 5.438795851064e-3*"DAYS_TO_REPORT"+4.026971277787e-2 )
WHEN "DAYS_TO_REPORT" <= 5.0e0 THEN 4.600137863341e-2
WHEN "DAYS_TO_REPORT" <= 8.0e0 THEN  ( -2.711714787293e-3*"DAYS_TO_REPORT"+5.955995256901e-2 )
WHEN "DAYS_TO_REPORT" <= 1.6e1 THEN  ( -6.203467928187e-4*"DAYS_TO_REPORT"+4.245891819237e-2 )
WHEN "DAYS_TO_REPORT" <= 1.7e1 THEN  ( -2.303993492451e-3*"DAYS_TO_REPORT"+6.939726538614e-2 )
WHEN "DAYS_TO_REPORT" <= 1.9e1 THEN  ( -2.303993492451e-3*"DAYS_TO_REPORT"+6.939726538578e-2 )
WHEN "DAYS_TO_REPORT" <= 2.0e1 THEN 2.723049702531e-2
WHEN "DAYS_TO_REPORT" <= 2.1e1 THEN 3.956349731128e-2
WHEN "DAYS_TO_REPORT" <= 3.0e1 THEN  ( -2.073230581354e-4*"DAYS_TO_REPORT"+5.521512544128e-2 )
ELSE 4.899543369722e-2
END) AS DOUBLE)+
 CAST( (CASE
WHEN ( "BODILY_INJURY_AMOUNT" IS NULL ) THEN 9.529443324094e-3
WHEN "BODILY_INJURY_AMOUNT" <= 0.0e0 THEN -3.678308910186e-3
WHEN "BODILY_INJURY_AMOUNT" <= 4.45e3 THEN  ( 5.521635548896e-6*"BODILY_INJURY_AMOUNT"-3.678308907729e-3 )
WHEN "BODILY_INJURY_AMOUNT" <= 4.455e3 THEN  ( 1.438519834577e-2*"BODILY_INJURY_AMOUNT"-6.400107741796e1 )
WHEN "BODILY_INJURY_AMOUNT" <= 4.48e3 THEN  ( 2.527792362985e-3*"BODILY_INJURY_AMOUNT"-1.117633376465e1 )
WHEN "BODILY_INJURY_AMOUNT" <= 2.9853e4 THEN  ( 5.521635548896e-6*"BODILY_INJURY_AMOUNT"+1.244429610754e-1 )
ELSE 2.892803471166e-1
END) AS DOUBLE)+
 CAST( (CASE
WHEN ( "AGE" IS NULL ) THEN 3.758131128411e-2
WHEN "AGE" <= 1.8e1 THEN 8.154985730891e-2
WHEN "AGE" <= 3.0e1 THEN  ( -8.061750680987e-4*"AGE"+9.606100853364e-2 )
WHEN "AGE" <= 3.1e1 THEN 6.725588449323e-2
WHEN "AGE" <= 5.2e1 THEN  ( -9.834200751034e-4*"AGE"+9.774190681932e-2 )
WHEN "AGE" <= 6.3e1 THEN  ( -1.552809405217e-3*"AGE"+1.276442567859e-1 )
WHEN "AGE" <= 6.4e1 THEN  ( -7.642133001501e-3*"AGE"+5.112716433509e-1 )
WHEN "AGE" <= 7.0e1 THEN  ( -1.067617673377e-3*"AGE"+8.954921404705e-2 )
WHEN "AGE" <= 7.2e1 THEN  ( -1.455301218297e-3*"AGE"+1.166870621911e-1 )
WHEN "AGE" <= 7.4e1 THEN  ( -1.455301218297e-3*"AGE"+1.166870621908e-1 )
WHEN "AGE" <= 7.7e1 THEN  ( -2.027698911518e-4*"AGE"+2.310254069092e-2 )
WHEN "AGE" <= 7.8e1 THEN 1.203532239609e-2
WHEN "AGE" <= 9.7e1 THEN  ( -8.061750680987e-4*"AGE"+8.01164644815e-2 )
ELSE 1.917482875933e-3
END) AS DOUBLE)+
 CAST( (CASE
WHEN ( "INCOME_ESTIMATE" IS NULL ) THEN 3.31743052531e-2
WHEN "INCOME_ESTIMATE" <= 1.10284e2 THEN 5.489014382743e-2
WHEN "INCOME_ESTIMATE" <= 1.472547037235e4 THEN  ( -3.910972150246e-7*"INCOME_ESTIMATE"+5.493327559212e-2 )
WHEN "INCOME_ESTIMATE" <= 1.47401e4 THEN  ( 7.570882802855e-4*"INCOME_ESTIMATE"-1.109930685546e1 )
WHEN "INCOME_ESTIMATE" <= 1.810786361607e4 THEN  ( 2.899407258085e-6*"INCOME_ESTIMATE"+1.751255185318e-2 )
WHEN "INCOME_ESTIMATE" <= 2.147562723214e4 THEN  ( 2.899407258085e-6*"INCOME_ESTIMATE"+1.751255185416e-2 )
WHEN "INCOME_ESTIMATE" <= 2.490270098116e4 THEN  ( -3.624655070686e-6*"INCOME_ESTIMATE"+1.576208824649e-1 )
WHEN "INCOME_ESTIMATE" <= 2.8255e4 THEN  ( -3.770516177596e-6*"INCOME_ESTIMATE"+1.612532179938e-1 )
WHEN "INCOME_ESTIMATE" <= 3.512999703931e4 THEN  ( -2.038926706109e-6*"INCOME_ESTIMATE"+1.123271574755e-1 )
WHEN "INCOME_ESTIMATE" <= 5.84883e4 THEN  ( -5.3384675852e-7*"INCOME_ESTIMATE"+5.945370337152e-2 )
WHEN "INCOME_ESTIMATE" <= 6.407390097403e4 THEN  ( -9.880584193734e-7*"INCOME_ESTIMATE"+8.601977125446e-2 )
WHEN "INCOME_ESTIMATE" <= 6.965950194805e4 THEN  ( -9.880584193734e-7*"INCOME_ESTIMATE"+8.601977125391e-2 )
WHEN "INCOME_ESTIMATE" <= 7.527177271143e4 THEN  ( 2.03027200038e-7*"INCOME_ESTIMATE"+3.049340228334e-3 )
WHEN "INCOME_ESTIMATE" <= 8.06674e4 THEN  ( 2.51695203066e-7*"INCOME_ESTIMATE"-6.139866337715e-4 )
WHEN "INCOME_ESTIMATE" <= 8.068618680089e4 THEN  ( 1.842208722103e-4*"INCOME_ESTIMATE"-1.484092917595e1 )
WHEN "INCOME_ESTIMATE" <= 9.94542e4 THEN  ( -3.910972150246e-7*"INCOME_ESTIMATE"+5.470667478486e-2 )
WHEN "INCOME_ESTIMATE" > 9.94542e4 THEN 1.581041414235e-2
ELSE 1.581041414235e-2
END) AS DOUBLE)+
 CAST( (CASE
WHEN ( "INCOME_CATEGORY" IS NULL ) THEN 4.371540441035e-2
WHEN "INCOME_CATEGORY" <= 1.4e1 THEN 4.167907697257e-2
WHEN "INCOME_CATEGORY" <= 1.5e1 THEN 3.428605583478e-2
WHEN "INCOME_CATEGORY" <= 2.5e1 THEN 2.689303469699e-2
WHEN "INCOME_CATEGORY" < 3.5e1 THEN 1.95000135592e-2
WHEN "INCOME_CATEGORY" <= 3.5e1 THEN 1.285789232702e-2
WHEN "INCOME_CATEGORY" <= 5.0e1 THEN 5.464871189233e-3
WHEN "INCOME_CATEGORY" < 7.5e1 THEN -1.928149948558e-3
WHEN "INCOME_CATEGORY" >= 7.5e1 THEN -6.427224163983e-4
ELSE -6.427224163983e-4
END) AS DOUBLE) )  AS DOUBLE) AS "rr_IS_FRAUD" FROM "APL_SAMPLE"."AUTO_CLAIMS_NEW"
) TMPTABLE0

# Case 2: export code from a reloaded model.
- The model was trained and saved. <br>
- Now, we can reload the model and export apply code.

## Saves and reloads a model

In [15]:
from hana_ml.model_storage import ModelStorage
from hana_ml.model_storage import ModelStorageError

# Creates an object model_storage
MODEL_SCHEMA='MODEL_STORAGE'  # schema name used to store the model data
# model storage must use the same connection than the model
model_storage = ModelStorage(connection_context=model.conn_context,
                             schema=MODEL_SCHEMA)

In [16]:
# Saves the model we had trained previously
# The new model is saved with an unique name
model.name = 'My AUTO_CLAIMS model'

model_storage.save_model(model=model, if_exists='replace')
model_storage.list_models()

,NAME,VERSION,LIBRARY,CLASS,JSON,TIMESTAMP,MODEL_STORAGE_VER
0,AutoClassifier 1,1,APL,hana_ml.algorithms.apl.classification.AutoClas...,"{""model_attributes"": {""name"": ""AutoClassifier ...",2019-08-27 11:02:57,1
1,My K2R IRIS model,1,APL,hana_ml.algorithms.apl.classification.AutoClas...,"{""model_attributes"": {""name"": ""My K2R IRIS mod...",2019-08-27 11:07:17,1
2,My Census model,1,APL,hana_ml.algorithms.apl.classification.AutoClas...,"{""model_attributes"": {""name"": ""My Census model...",2019-11-29 10:05:12,1
3,My AUTO_CLAIMS model,1,APL,hana_ml.algorithms.apl.classification.AutoClas...,"{""model_attributes"": {""name"": ""My AUTO_CLAIMS ...",2019-11-29 13:34:34,1

## Reloads the saved model

In [17]:
# Close the session
CONN.close()
# Reopens connection
CONN = ConnectionContext(HDB_HOST, HDB_PORT, HDB_USER, HDB_PASS)
MODEL_SCHEMA='MODEL_STORAGE'  # schema name used to store the model data

# Reloads the model
model_storage = ModelStorage(connection_context=CONN, schema=MODEL_SCHEMA)
model2 = model_storage.load_model(name='My Census model')

mod_name: hana_ml.algorithms.apl.classification

## Export code

In [18]:
# Example
sql = export_apply_code(model=model2, 
                  key='CLAIM_ID', label='IS_FRAUD', 
                  schema_name='APL_SAMPLE', table_name='AUTO_CLAIMS_NEW')
print('Exported sql:\n', sql)

Exported sql:
 -- Automated Analytics - Unlicensed Version 10.1905.0.0 - Copyright 2018 SAP SE or an SAP affiliate company. All rights reserved. - Model built in 9.3.0.0 - Model Name is APLModel - Model Version is 1
SELECT CLAIM_ID, "rr_class", (CASE WHEN "rr_class" >= 2.541732350001e-1 THEN 1
ELSE 0
END)
AS "decision_rr_class", CAST((CASE
WHEN "rr_class" < -1.87592389104e0 THEN 9.993761696818e-1
WHEN "rr_class" <= -3.769238781658e-1 THEN 9.993761696818e-1
WHEN "rr_class" <= -3.759238910404e-1 THEN  ( -3.112782451028e-3*"rr_class"+9.982028876485e-1 )
WHEN "rr_class" <= -1.513137164263e-1 THEN  ( -1.385842106408e-5*"rr_class"+9.993678472279e-1 )
WHEN "rr_class" <= -1.510888814167e-1 THEN  ( -1.383071808078e1*"rr_class"-1.09340740945e0 )
WHEN "rr_class" <= -1.375073674063e-1 THEN  ( -2.289604553961e-1*"rr_class"+9.616669354698e-1 )
WHEN "rr_class" <= -1.106982897973e-1 THEN  ( -5.876153177418e-2*"rr_class"+9.850705413925e-1 )
WHEN "rr_class" <= -9.926380045382e-2 THEN  ( -1.377711254458e-1*"rr_class"+9.763243144955e-1 )
WHEN "rr_class" <= -9.660460422258e-2 THEN  ( -2.547363848441e0*"rr_class"+7.371389832651e-1 )
WHEN "rr_class" <= -6.075341699471e-2 THEN  ( -1.889460536499e-1*"rr_class"+9.649730009224e-1 )
WHEN "rr_class" <= -4.446095707558e-2 THEN  ( -9.148957018063e-1*"rr_class"+9.208690792308e-1 )
WHEN "rr_class" <= -3.566147178994e-2 THEN  ( -1.693951528754e0*"rr_class"+8.862315115494e-1 )
WHEN "rr_class" <= 1.62690250244e-2 THEN  ( -4.863742375569e-2*"rr_class"+9.449058340903e-1 )
WHEN "rr_class" <= 6.089612342891e-2 THEN  ( -5.659712752346e-2*"rr_class"+9.450353307101e-1 )
WHEN "rr_class" <= 6.994170995087e-2 THEN  ( -1.377584434108e0*"rr_class"+1.02547833678e0 )
WHEN "rr_class" <= 7.773661099721e-2 THEN  ( -1.598616725979e0*"rr_class"+1.040937713228e0 )
WHEN "rr_class" <= 8.831660609103e-2 THEN  ( -8.677500205858e-1*"rr_class"+9.841226124598e-1 )
WHEN "rr_class" <= 1.114786986309e-1 THEN  ( -3.963713962655e-1*"rr_class"+9.424920521759e-1 )
WHEN "rr_class" <= 1.237996975581e-1 THEN  ( -1.400767483807e0*"rr_class"+1.054460820925e0 )
WHEN "rr_class" <= 1.424946950683e-1 THEN  ( -9.231803671455e-1*"rr_class"+9.953356803247e-1 )
WHEN "rr_class" <= 1.489173516085e-1 THEN  ( -7.821823050774e0*"rr_class"+1.978355665913e0 )
WHEN "rr_class" <= 1.498648858408e-1 THEN  ( -5.301854145829e1*"rr_class"+8.708931272557e0 )
WHEN "rr_class" <= 1.5782344448e-1 THEN  ( -7.515342072783e-1*"rr_class"+8.759421976466e-1 )
WHEN "rr_class" <= 1.613498817785e-1 THEN  ( -1.696082632957e0*"rr_class"+1.025014083665e0 )
WHEN "rr_class" <= 1.690905024092e-1 THEN  ( -3.520203525683e-1*"rr_class"+8.081497936218e-1 )
WHEN "rr_class" <= 1.740890729931e-1 THEN  ( -5.451270433836e-1*"rr_class"+8.408023009904e-1 )
WHEN "rr_class" <= 1.770959351436e-1 THEN  ( -1.506476457475e0*"rr_class"+1.008162729312e0 )
WHEN "rr_class" <= 2.026315061565e-1 THEN  ( -1.773904737932e-1*"rr_class"+7.727870041457e-1 )
WHEN "rr_class" <= 2.051165759185e-1 THEN  ( -1.873028006823e1*"rr_class"+4.532186966221e0 )
WHEN "rr_class" <= 2.077104925776e-1 THEN  ( -1.79443130789e1*"rr_class"+4.370972108585e0 )
WHEN "rr_class" <= 2.166594009086e-1 THEN  ( -1.507643834094e0*"rr_class"+9.569034434112e-1 )
WHEN "rr_class" <= 2.215321207856e-1 THEN  ( -2.768836872923e0*"rr_class"+1.230152771634e0 )
WHEN "rr_class" <= 2.285384047506e-1 THEN  ( -1.339259667452e0*"rr_class"+9.134555014792e-1 )
WHEN "rr_class" < 2.541732350001e-1 THEN  ( -1.712299142644e-1*"rr_class"+6.465158449845e-1 )
WHEN "rr_class" <= 2.833374366443e-1 THEN  ( 1.712299142644e-1*"rr_class"+3.534841550155e-1 )
WHEN "rr_class" <= 2.900619973494e-1 THEN  ( 1.137097158984e1*"rr_class"-2.819821942419e0 )
WHEN "rr_class" <= 3.066021156247e-1 THEN  ( 4.622989234998e0*"rr_class"-8.624887024959e-1 )
WHEN "rr_class" <= 3.431055991263e-1 THEN  ( 9.491426347944e-1*"rr_class"+2.639204376072e-1 )
WHEN "rr_class" <= 3.812049450048e-1 THEN  ( 9.093860199166e-1*"rr_class"+2.775611547741e-1 )
WHEN "rr_class" <= 3.997984669685e-1 THEN  ( 3.818211576279e0*"rr_class"-8.312975314674e-1 )
WHEN "rr_class" <= 4.963757336245e-1 THEN  ( 7.351005393269e-1*"rr_class"+4.013255345994e-1 )
WHEN "rr_class" <= 5.876092182185e-1 THEN  ( 8.237359790503e-1*"rr_class"+3.573290531816e-1 )
WHEN "rr_class" <= 5.876199449801e-1 THEN  ( 7.006057080296e3*"rr_class"-4.115982359839e3 )
WHEN "rr_class" <= 5.983359792659e-1 THEN  ( 7.020090574472e-3*"rr_class"+9.12391066367e-1 )
WHEN "rr_class" <= 5.993359793134e-1 THEN  ( 7.522752771241e-2*"rr_class"+8.715801026738e-1 )
WHEN "rr_class" > 5.993359793134e-1 THEN 9.166666666667e-1
ELSE 9.166666666667e-1
END) AS DOUBLE)
AS "proba_decision_rr_class"
FROM
(
SELECT CLAIM_ID,
CAST( (  CAST( (CASE
WHEN ( "age" IS NULL ) THEN 3.991844765371e-2
WHEN "age" <= 1.7e1 THEN -6.295657338802e-2
WHEN "age" <= 2.4e1 THEN  ( 4.831853614765e-4*"age"-7.117072453273e-2 )
WHEN "age" <= 2.5e1 THEN -4.969306165665e-2
WHEN "age" <= 2.6e1 THEN -2.21212682004e-2
WHEN "age" <= 2.8e1 THEN  ( 6.93461826795e-3*"age"-2.024213431652e-1 )
WHEN "age" <= 3.3e1 THEN  ( 3.158903296469e-3*"age"-9.389930438318e-2 )
WHEN "age" <= 3.4e1 THEN  ( 8.085377359423e-3*"age"-2.564729484595e-1 )
WHEN "age" <= 3.6e1 THEN  ( 8.057715311394e-3*"age"-2.555186456152e-1 )
WHEN "age" <= 3.8e1 THEN  ( 5.359342058222e-3*"age"-1.583772084998e-1 )
WHEN "age" <= 4.3e1 THEN  ( 1.700441802099e-3*"age"-1.8123529625e-2 )
WHEN "age" <= 4.5e1 THEN  ( 2.565194486568e-3*"age"-5.530789505645e-2 )
WHEN "age" <= 4.8e1 THEN  ( 2.565194486568e-3*"age"-5.530789505575e-2 )
WHEN "age" <= 5.1e1 THEN  ( -1.308661937481e-3*"age"+1.324118583357e-1 )
WHEN "age" <= 5.4e1 THEN  ( -2.722038897762e-3*"age"+2.053832247044e-1 )
WHEN "age" <= 5.8e1 THEN  ( -1.194452354144e-3*"age"+1.228935513485e-1 )
WHEN "age" <= 6.1e1 THEN  ( -5.158006395022e-3*"age"+3.54879422457e-1 )
WHEN "age" <= 9.0e1 THEN  ( 4.831853614765e-4*"age"-3.168366022589e-3 )
ELSE 4.031831651029e-2
END) AS DOUBLE)+
 CAST( (CASE
WHEN ( "education" IS NULL OR "education" = ''  ) THEN -7.832553650571e-2
WHEN "education" IN('HS-grad')  THEN -2.847386070135e-2
WHEN "education" IN('Some-college')  THEN -5.785496574972e-3
WHEN "education" IN('Bachelors')  THEN 9.241114026796e-2
WHEN "education" IN('Assoc-acdm', 'Assoc-voc')  THEN 1.506892090394e-2
WHEN "education" IN('Masters')  THEN 1.463871680273e-1
WHEN "education" IN('Doctorate', 'Prof-school')  THEN 2.1144329576e-1
ELSE -7.832553650571e-2
END)  AS DOUBLE)+
 CAST( (CASE
WHEN ( "occupation" IS NULL OR "occupation" = ''  ) THEN 2.643778956426e-2
WHEN "occupation" IN('Exec-managerial', 'Prof-specialty')  THEN 7.640898201522e-2
WHEN "occupation" IN('Adm-clerical', 'Machine-op-inspct')  THEN -2.736140951244e-2
WHEN "occupation" IN('Other-service')  THEN -5.32251418943e-2
WHEN "occupation" IN('Craft-repair', 'Transport-moving')  THEN 5.362987124164e-3
WHEN "occupation" IN('?', 'Farming-fishing', 'Handlers-cleaners')  THEN -3.957400583427e-2
ELSE 2.643778956426e-2
END)  AS DOUBLE)+
 CAST( (CASE
WHEN ( "relationship" IS NULL OR "relationship" = ''  ) THEN 1.640616867676e-1
WHEN "relationship" IN('Not-in-family')  THEN -8.12631242157e-2
WHEN "relationship" IN('Own-child')  THEN -1.445196045086e-1
WHEN "relationship" IN('Other-relative', 'Unmarried')  THEN -1.155505598277e-1
ELSE 1.640616867676e-1
END)  AS DOUBLE)+
 CAST( (CASE
WHEN ( "hours-per-week" IS NULL ) THEN 9.355995565582e-3
WHEN "hours-per-week" IN(46, 50, 55, 60, 65, 70)  THEN 7.813459132357e-2
WHEN "hours-per-week" IN(10, 12, 15, 18, 20, 25, 28)  THEN -3.689703474375e-2
WHEN "hours-per-week" IN(8, 16, 22, 30, 32, 33)  THEN -2.732662649394e-2
WHEN "hours-per-week" IN(45, 80)  THEN 6.345428420702e-2
WHEN "hours-per-week" IN(24, 35, 37)  THEN -1.042581696956e-2
WHEN "hours-per-week" IN(42, 43, 44, 47, 48, 52, 99)  THEN 3.842222349756e-2
ELSE 9.355995565582e-3
END)  AS DOUBLE) )  AS DOUBLE) AS "rr_class" FROM "APL_SAMPLE"."AUTO_CLAIMS_NEW"
) TMPTABLE0